@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
	/*Border: 1px solid black;*/
	padding: 0;
	margin: 0;
    overflow: hidden;
	color: black;
	text-align: center;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
	display: grid;
	place-items: center;
	grid-template: repeat(16, minmax(32.5px, 1fr)) / repeat(16, minmax(32.5px, 1fr));
	font-family: "Raleway", sans-serif;
	font-size: 1.5vw;
	background-color: black;
	background: url("../img/mainBack.jpg") no-repeat center;
	background-size: cover;
	cursor: none;
}

#topLinks {
	grid-area: 1 / 1 / 2 / 17;
	display: grid;
	place-items: center;
	place-self: stretch;
	grid-template: repeat(1, 1fr) / repeat(4, 1fr);
	border-radius: 0 0 25px 25px;
    z-index: 1;
	cursor: auto;
	background-color: white;
}

.spotlight {
    position: absolute;
    height: 100%;
    width: 100%;
	background-color: rgba(0, 0, 0, 1);
}

#cTainer {
	grid-area: 3 / 3 / 15 / 15;
	align-self: start;
	place-items: center;
	display: grid;
	grid-template: 1fr 2fr / 1fr ;
	border-radius: 50px;
    z-index: 1;
	cursor: auto;
	background-color: white;
}

#header {
	font-size: 2.5em;
	padding: 0.5vw 0.5vw 0vw 0.5vw;
}

#welcomeP {
	font-size: 0.9em;
	padding: 0vw 2vw 2vw 2vw;
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
	.topLink {
		font-size: 2.75em;
	}
	
	#header {
		font-size: 5em;
	}

	#welcomeP {
		font-size: 3em;
	}
	
	.spotlight {
		visibility: hidden;
	}
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
	.topLink {
		font-size: 1.9em;
	}
	
	#header {
		font-size: 3em;
	}

	#welcomeP {
		font-size: 2em;
	}

	.spotlight {
		visibility: hidden;
	}
}

