#foot {
	font-size: 0.8em;
	padding: 2svw;
    display: grid;
    place-self: center stretch;
    place-items: center;
}

#sources {
	grid-area: 1 / 1 / 2 / 2;
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

#buttons {
	grid-area: 1 / 2 / 2 / 3;
    display: grid;
    place-items: center;
    column-gap: 1vw;
}

.footImg {
    width: 3vw;
}

#sourceButton {
	grid-area: 1 / 1 / 2 / 2;
}

#gitButton {
	grid-area: 1 / 2 / 2 / 3;
}

#denButton {
	grid-area: 1 / 3 / 2 / 4;
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
	
	#cTainer {
        grid-area: 3 / 1 / 4 / 17;
    }

	#foot {
		font-size: 1.5em;
		padding: 3svh;
	}
	
	#sources {
		padding: 1svh;
	}

	#buttons {
		column-gap: 1svh;
	}

	.footImg {
	    width: 4svh;
	}
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
	
	#foot {
		font-size: 1em;
	}

    #buttons {
		column-gap: 2svw;
	}

	.footImg {
 	   width: 4svw;
	}
}